.git
.github
node_modules
vendor
.env
.env.example
.gitattributes
.gitignore
README.md
docker-compose.yml
docker-compose.override.yml
.docker
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*.log
proxy
tests
phpunit.xml
auth.json
.phpunit.result.cache
.editorconfig
.styleci.yml
.gitpod.yml
